<ion-header>

  <!--<ion-navbar>
    <ion-title>rtindakan</ion-title>
  </ion-navbar>-->

</ion-header>


<ion-content class="twitterz">
  <!--<ion-grid>
    <ion-row>
      <ion-col>
        <ng-container *ngIf="area_id != undefined && area_id.length > 0;else kosong">

          <div *ngFor="let item of area_id">
            <ion-card *ngIf="item != ''; else kosong">
              <ion-card-content>
                <ion-grid>
                  <ion-row justify-content-center>
                    <ion-col>
                      <h2><b>Area : {{item}} </b></h2>
                    </ion-col>
                  </ion-row>
                  <div text-center>
                  <button small outline ion-button (click)="viewimage(item)">Lihat Ringkasan</button>
                  </div>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #kosong>
    <div text-center margin-left margin-top>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-8>
            Belum Ada Ringkasan
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>-->

  <ng-container *ngIf="area_id != undefined && area_id.length > 0;else kosong">
    <ion-grid>
    <div *ngFor="let item of area_id" text-center>
      <ion-item *ngIf="item != ''; else kosong" text-center>
        <p>Area {{ item }} </p>
        <button small outline ion-button (click)="viewimage(item)">Lihat Ringkasan</button>
      </ion-item>
    </div>
  </ion-grid>
  </ng-container>
  <ng-template #kosong>
    <div text-center margin-left margin-top>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-8>
            Belum Ada Ringkasan
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
</ion-content>
