// http://ionicframework.com/docs/theming/

@font-face{
font-family: Roboto-regular;
src: url('../assets/font/roboto-regular.woff2') format('woff2');
}

*{
font-family:  Roboto-regular;
}
.twitterz{
  background-color:#F5F8FA;
}

// remove gray line and point bug
.scroll-content {
  overflow-y : auto  ! important ;
}
//border color tabs active
/*.tabs-md[tabsHighlight="true"] .tab-highlight {
    background-color: red;
}*/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
