<ion-content class="twitter scroll-content">

<div *ngIf="area_id == act_area && aksitindakan != undefined;else kosong">
    <ng-container *ngFor="let item of aksitindakan">
      <div *ngIf="item.act_area_id == area_id">
        <ion-grid>
          <ion-row>
            <ion-col>
        <ion-card>
          <!--<ion-list >
            <ion-label text-center color="primary"><b>{{item.action_id}}</b></ion-label>-->
          <ion-item>
            <ion-label>Tindakan</ion-label>
            <ion-label>: {{item.action}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Banyak</ion-label>
            <ion-label>: {{item.amount}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Satuan</ion-label>
            <ion-label>: {{item.subaction}}</ion-label>
          </ion-item>
          <div *ngIf="item.status != null; else kosongx">
            <ion-item>
              <ion-label>Status</ion-label>
              <ion-select [(ngModel)]="statustindakan[item.action_id]" name="stindakan">
                <div *ngIf="item.status == 1; else dua">
                  <ion-option selected="true" value="1">Sudah dilakukan</ion-option>
                  <ion-option value="2">Tidak dilakukan</ion-option>
                </div>
                <ng-template #dua>
                  <ion-option value="1">Sudah dilakukan</ion-option>
                  <ion-option selected="true" value="2">Tidak dilakukan</ion-option>
                </ng-template>
              </ion-select>
            </ion-item>
          </div>
          <ng-template #kosongx>
            <ion-item>
              <ion-label>Status</ion-label>
              <ion-select [(ngModel)]="statustindakan[item.action_id]" name="stindakan">
                <ion-option value="1">Sudah dilakukan</ion-option>
                <ion-option value="2">Tidak dilakukan</ion-option>
              </ion-select>
            </ion-item>
          </ng-template>
          <div *ngIf="item.info != null; else kosongzz">
            <ion-list-header>
              <ion-textarea value="{{item.info}}" [(ngModel)]="komentar[item.action_id]" name="komentar" clearInput="true"></ion-textarea>
            </ion-list-header>
          </div>
          <ng-template #kosongzz>
            <ion-list-header>
              <ion-textarea placeholder="Isi Komentar" [(ngModel)]="komentar[item.action_id]" name="komentar" clearInput="true"></ion-textarea>
            </ion-list-header>
          </ng-template>
            <ion-row class="top">
                <ion-col>
                  <button ion-button small outline block color="primary" (click)="viewPhoto(item.action_id, item.imagepath) ">Lihat Foto</button>
                </ion-col>
                <ion-col>
                  <button ion-button small block outline color="secondary" (click)="sendTindakan(item.action_id, item.action)">Simpan</button>
                </ion-col>
              </ion-row>
          <!--</ion-list>-->
        </ion-card>
      </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    </ng-container>
  </div>

  <ng-template #kosong>
    <div text-center margin-left margin-top>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-8>
            Tidak Ada Tindakan
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
</ion-content>
